html, body {
  height: 100%;
  margin: 0;
}

div {
  display: flex;
}

body.app-container {
  display: flex;
  position: relative;

  div.app-body {
    width: 100%;
    justify-content: center;
    padding: 30px;
    background-color: gray;
  }
}