div.user-create {
  .common-container;

  div.user-create-form {
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
    margin: auto;
    border-radius: 25px;
    border: 2px solid @theme-main;
    padding: 30px;

    h2.header {
      margin-bottom: 16px;
      text-align: center;
    }

    div.user-info {
      justify-content: space-between;
      margin-bottom: 16px;
    }
  }
}