<div class="user-create">

    <div class="user-create-form">
        <h2 class="header">Sign Up!</h2>
        <div class="user-info">
            <label class="form-label">Username *:</label>
            <input class="form-control"
                   type="text" id="username"
                   ng-model="user.username"
                   required />
        </div>

        <div class="user-info">
            <label class="form-label">Password *:</label>
            <input class="form-control"
                   type="password" id="password"
                   ng-model="user.password"
                   name="password"
                   required />
        </div>

        <div class="user-info">
            <label class="form-label">Password Again *:</label>
            <input class="form-control"
                   type="password" id="password-match"
                   ng-model="passwordMatch"
                   required />
        </div>

        <div class="user-info">
            <label class="form-label">First Name *:</label>
            <input class="form-control"
                   type="text" id="firstName"
                   ng-model="user.firstName"
                   required />
        </div>

        <div class="user-info">
            <label class="form-label">Last Name *:</label>
            <input class="form-control"
                   type="text" id="lastName"
                   ng-model="user.lastName"
                   required />
        </div>

        <div class="user-info">
            <label class="form-label">Email *:</label>
            <input class="form-control"
                   type="email" id="email"
                   ng-model="user.email"
                   required />
        </div>

        <div class="user-info">
            <label class="form-label">Phone Number:</label>
            <input class="form-control"
                   type="telephone" id="phoneNumber"
                   ng-model="user.phoneNumber" />
        </div>

        <button class="btn-default" ng-click="submit()">Submit</button>
    </div>
</div>