<div class="app-header-container">
    <a ui-sref="app" >
        <img class="icc-icon" />
    </a>
    <!--<ul class="links">-->
        <!--<li ng-repeat="link in links">-->
            <!--<button class="btn-default"-->
                    <!--ng-class="{'active': link.state === currentState}"-->
                    <!--ui-sref="{{link.state}}"-->
                    <!--ng-disabled="link.inactive">{{link.name}}</button>-->
        <!--</li>-->
    <!--</ul>-->


    <div class="menu-controls">
        <span dropdown>
            <span class="user actionable" dropdown-toggle></span>
            <div class="dropdown-menu" ng-class="{'login': !user}" role="menu">
                <div class="menu-header">
                    <ul class="header-options">
                        <li ng-if="user">Welcome, {{user.username}}!</li>
                        <li ng-if="!user">Welcome!</li>
                    </ul>
                </div>
                <ul class="menu-options" ng-if="user">
                    <li class="logout" >
                        <a ng-click="logout()">Log Out</a>
                    </li>
                </ul>

                <ul class="menu-options login-options" ng-if="!user"
                    ng-click="cancelClose($event)"
                    ng-keypress="cancelClose($event)">
                    <li>
                        <label class="form-label">Username:</label>
                        <input class="form-control"
                               type="text" id="username"
                               ng-model="userParams.username"
                               required />
                    </li>
                    <li>
                        <label class="form-label">Password:</label>
                        <input class="form-control"
                               type="password" id="password"
                               ng-model="userParams.password"
                               required />
                    </li>
                    <li>
                        <button class="btn-default" ng-click="login()">Log In</button>
                    </li>
                </ul>
            </div>
        </span>
    </div>
</div>