<div class="app-header-container">
    <a ui-sref="app" >
        <img class="icc-icon" />
    </a>
    <!--<ul class="links">-->
        <!--<li ng-repeat="link in links">-->
            <!--<button class="btn-default"-->
                    <!--ng-class="{'active': link.state === currentState}"-->
                    <!--ui-sref="{{link.state}}"-->
                    <!--ng-disabled="link.inactive">{{link.name}}</button>-->
        <!--</li>-->
    <!--</ul>-->


    <div class="menu-controls" ng-if="user">
        <span dropdown>
            <span class="user actionable" dropdown-toggle></span>
            <div class="dropdown-menu" role="menu">
                <div class="menu-header">
                    <ul class="header-options">
                        <li>{{user.username}}</li>
                    </ul>
                </div>
                <ul class="menu-options">
                    <li class="logout">
                        <a ng-click="logout()">Log Out</a>
                    </li>
                </ul>
            </div>
        </span>
    </div>
</div>